/client/dist/
/client/node_modules/
!/client/.env.local
/client/.idea/
/server/.idea/
/server/cert/
/server/www/
/server/video/
/server/scripts/
/server/frames/
/client/src/__tests__
server/core/yolo_opencv/yolov8n.onnx
/server/yolo/__pycache__
