.settings-menu-container {
  margin-top: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;

  #menu-item {
    background: var(--settings-menu-default-bg);
    color: var(--settings-menu-default-color);

    &:hover {
      background: var(--settings-menu-active-bg);
      color: var(--settings-menu-active-color);

    }


    .remove-item {
      display: none;
      transition: all 0.3s ease-in-out;

      &#remove-item-actived {
        display: none;
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    &:hover .remove-item {
      display: block;
    }
  }

  #menu-summary {
    &:active {
      background: var(--settings-menu-active-bg);
      color: var(--settings-menu-active-color);
    }

    &::after {
      display: none;
    }

    .add-item {
      display: none;

      &:hover {
        transform: scale(1.2);
      }
    }

    &:hover .add-item {
      display: block;
    }
  }
}
