#menu-item:active {
  background: var(--settings-menu-active-bg);
  color: var(--settings-menu-active-color);
}

#menu-summary:active {
  background: var(--settings-menu-active-bg);
  color: var(--settings-menu-active-color);
}
