:root.lightMode {
  /* layout */
  --layout-container-bg: #f5f5f5;
  --layout-bar-bg: #ffffff;
  --layout-bar-height: 2.9rem;
  --layout-bar-color: #000000;
  --layout-bar-title-color: #1677ff;
  --layout-bar-menu-active-color: #1677ff;
  --layout-content-padding: 1.5rem;
  --layout-card-inset-padding: 1rem;
  /* Analysis */
  --analysis-divider-ratio: 3fr 2fr;
  /* Settings */
  --settings-divider-ratio: 1fr 5fr;
  --settings-tabs-color: #000;
  --settings-tabs-active-color: #1677ff;
  --settings-segmented-selectedBg: #fff;
  --settings-segmented-Color: #000;
  --settings-segmented-selectedColor: #1677ff;
  --settings-segmented-trackBg: #fff;
  --settings-segmented-trackPadding: 0.5rem;
  --settings-content-padding: 1rem;
}

:root.darkMode {
  /* layout */
  --layout-container-bg: #333;
  --layout-bar-bg: #ffffff;
  --layout-bar-height: 2.9rem;
  --layout-bar-color: #000000;
  --layout-bar-title-color: #1677ff;
  --layout-bar-menu-active-color: #1677ff;
  --layout-content-padding: 1.5rem;
  --layout-card-inset-padding: 1rem;
  /* Analysis */
  --analysis-divider-ratio: 3fr 2fr

}
